<div class="container">
    <h3>Completed Service Records</h3>
    <table mat-table [dataSource]="serviceRecords">


        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let record">{{ record.id }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Servise Advisor Name</th>
            <td mat-cell *matCellDef="let record">{{ record.serviceAdvisor?.name }}</td>
        </ng-container> -->

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let record">
                <button (click)="generateInvoice(record.id)">Create Invoice</button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
