

<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav (Sidebar) -->
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <mat-nav-list>
      <!-- Add your page navigation items here -->
      <mat-list-item routerLink="/home">Home</mat-list-item>
      <mat-list-item routerLink="/services">Services</mat-list-item>
      <mat-list-item routerLink="/about">About Us</mat-list-item>
      <!-- Add more navigation items as needed -->
    </mat-nav-list>
  </mat-sidenav>

<mat-nav-list>
  <a mat-list-item *ngFor="let item of navItems; trackBy: trackByFunction" [routerLink]="item.link" routerLinkActive="active-link">
    {{ item.value }}
  </a>
</mat-nav-list>
